@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&family=Red+Hat+Display:wght@300;400&display=swap");

$bg-color: #e0e5ec;
$text-color: #1b1919;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

:root {
  font-size: 16px;
  line-height: 24px;
  color-scheme: light dark;
  color: $text-color;
  background-color: $bg-color;
  font-synthesis: none;
  --accent-text-color: #636d79;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "Red Hat Display", sans-serif, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
strong {
  font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  outline: none;
  cursor: pointer;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}
